<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://emlakmobil.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>emlakmobil.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>emlakmobil</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$emlakmobil</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="eemlakDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=eemlakDB.mssql.somee.com;Initial Catalog=eemlakDB;Persist Security Info=True;User ID=oguzercan50_SQLLogin_1;Password=qn21141rq2;Application Name=EntityFramework" Name="Data Source=eemlakDB.mssql.somee.com;Initial Catalog=eemlakDB;Persist Security Info=True;User ID=oguzercan50_SQLLogin_1;Password=qn21141rq2;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EEmlakApi.Models.eemlakDBEntities, EEmlakApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eemlakDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.eemlakDBEntities.csdl|res://*/Models.eemlakDBEntities.ssdl|res://*/Models.eemlakDBEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=eemlakDB.mssql.somee.com;Initial Catalog=eemlakDB;Persist Security Info=True;User ID=oguzercan50_SQLLogin_1;Password=qn21141rq2;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>